%h1 Edit User
.table-responsive
  %table.table
    %tbody
      %tr
        %td
          %strong First Name:
        %td
          = @coordinator.first_name
      %tr
        %td
          %strong Last Name:
        %td
          = @coordinator.last_name
      %tr
        %td
          %strong Email:
        %td
          = @coordinator.email
      -# %tr
      -#   %td
      -#     %strong Admin:
      -#   %td
      -#     = @coordinator.admin
      -# %tr
      -#   %td
      -#     %strong Moderator Fors:
      -#   %td
      -#     = @coordinator.moderator_for
= link_to "Back", [:admins], class: "btn-primary btn"
