%div{:style => "float:left;color:#5E4F35;"}
  %h1
    Center for
    %br>/
    Community
    %br>/
    Outreach
%div{:style => "float:right;padding-top:5px;"}
  - if coordinator_signed_in?
    .logged-in-tag Logged in as #{current_coordinator.email}
    = link_to('Logout', destroy_coordinator_session_path, :method => :delete, class: "btn btn-primary")
  - else
    = link_to('Coordinator Login', new_coordinator_session_path, class: "btn btn-sm btn-default")
