<p>
  <strong>Need ID: </strong>
  <%= @need.id %>
</p>

<p>
  <strong>Need Title: </strong>
  <%= @need.title %>
</p>

<p>
  <strong>Need Description: </strong>
  <%= @need.description %>
</p>

<p>
  <%= link_to 'Go Back', needs_path %>
</p>
