.col-xs-12.col-sm-6.col-md-6.col-lg-4.sidebar{:style => "padding-left:0;"}
  = render partial: 'sidebar', layout: 'sidebar'
.col-lg-offset-5.col-md-offset-7.col-sm-offset-7.page-body.big-screen-only{:style => "padding-top:180px;"}
  %h1 Pick a need to the left!
