.col-xs-12.col-sm-6.col-md-6.col-lg-4.sidebar{:style => "padding-left:0;z-index:20;"}
  = render partial: 'sidebar', layout: 'sidebar'
.col-lg-4.page-body.big-screen-only{:style => "position:relative;top:100px;left:100px;"}
  %h1 Pick a need to the left!
