%h1 Show User
.table-responsive
  %table.table
    %tbody
      %tr
        %td
          %strong First Name:
        %td
          = @coordinator.first_name
      %tr
        %td
          %strong Last Name:
        %td
          = @coordinator.last_name
      %tr
        %td
          %strong Email:
        %td
          = @coordinator.email
      %tr
        %td
          %strong Moderator For:
        %td
          = @coordinator.moderator_for
