.list-group.list-of-needs, .list-group-item.need-item {

  background-color: #F0F4CF;
  border: none;
  border-radius: 0;

  .active {
    background-color: #FBAC00;
    pointer-events: none;
  }
  .load-more {
    background-color: #5E4F35;
    color: #FFFFFF;
    font-size: 30px;
  }
  .load-more:hover {
    background-color: blue;
    color: #FFFFFF;
    font-size: 30px;
  }

  .title-item, .title-item:hover {
    background-color: #5E4F35;
    color: #FFFFFF;
    font-size: 30px;
    cursor: auto;
  }
  .filter {
    cursor: auto;
    background-color: white;
  }

  .agency-name, .need-time {
    color: #A29C7E;
  }

  .need-name {
    color: #5E4F35;
    font-size: 20px;
    word-wrap: break-word;
    width: 300px;
  }

  .volunteer-box {
    width:100px;
    height:80px;
    position:relative;
    float:right;
    color:#5E4F35;
    text-align: center;
  }

  .volunteer-number {
    font-size:30px;

    .full {
      color:blue;
    }
    .none {
      color:red;
    }
  }
}
