.list-group, .list-group-item {

  background-color: #F0F4CF;
  border: none;
  border-radius: 0;

  .active {
    background-color: #FBAC00;
    pointer-events: none;
  }
  .load-more {
    background-color: #5E4F35;
    color: #FFFFFF;
    font-size: 30px;
  }
  .load-more:hover {
    background-color: blue;
    color: #FFFFFF;
    font-size: 30px;
  }

  .disabled, .disabled:hover {
    background-color: #5E4F35;
    color: #FFFFFF;
    font-size: 30px;
    cursor: auto;
  }
}
