// Place all the styles related to the Needs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.list-group, .list-group-item {
  background-color: #F0F4CF;
  border: none;
  border-radius: 0;
}

.list-group > .active {
  background-color: #FBAC00;
  pointer-events: none;
}

a.list-group-item.disabled, a.list-group-item.disabled:hover {
  background-color: #5E4F35;
  color: #FFFFFF;
  font-size: 30px;
  cursor: auto;
}

.list-group > .load-more {
  background-color: #5E4F35;
  color: #FFFFFF;
  font-size: 30px;
}

.list-group > .load-more:hover {
  background-color: blue;
  color: #FFFFFF;
  font-size: 30px;
}

a.list-group-item:hover {
  background-color: #ececc6;
  cursor: pointer;
}

h1, h2, h3 {
  color: #5E4F35;
}

.logged-in-tag {
  color: #5E4F35;
  font-size: 15px;
}

.agency-name, .need-time {
  color: #A29C7E;
}

.need-name {
  color: #5E4F35;
  font-size: 20px;
  word-wrap: break-word;
  width: 300px;
}

.volunteer-box {
  width:100px;
  height:80px;
  position:relative;
  float:right;
  color:#5E4F35;
  text-align: center;
}
.full {
  color:blue;
}
.none {
  color:red;
}

.volunteer-number {
  font-size:30px;
}

.page-body {
  color: black;
}

.sidebar {
  padding-right: 0;
}

@media (max-width: 767px)
{
  .disappearable {
    display: none;
  }

  .permenant {
    display: inline;
  }
}
