// Place all the styles related to the Needs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logged-in-tag {
  color: white;
  font-size: 15px;
}

.page-body {
  color: black;
}

.sidebar {
  padding-right: 0;
}

@media (max-width: 899px)
{
  .big-screen-only {
    display: none;
  }
  .small-screen-only {
    display: inline;
  }
}

@media (min-width: 900px)
{
  .big-screen-only {
    display: inline;
  }
  .small-screen-only {
    display: none;
  }
}
